.vscode/
.idea/
__pycache__/
./logs
./models
./interpretations
./data
./eval_results
./checkpoints

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyc~
*.pyo~
*.pyd~
*.pyw~
*.json
*.ckpt
*.pt
*.json
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.config
*.yaml
*.txt
